* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 2%;

  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

.container {
  height: 100%;
  display: flex;
  line-height: 4;
  flex-direction: column;
}

h1 {
  background-color: #aed4f1;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
h2 {
  background-color: #333;
  text-align: center;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
div {
  width: 100%;
}
span {
  padding: 10px;
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

span:first-child {
  background: #333;
  color: #0078d7;
  margin-right: 2rem;
}

span:last-child {
  background: #66ff00;
  color: #fff;
}
